body{
    font-family: "Montserrat";
    text-align: center;
}

/* HEADINGS */
.big-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5; 
    font-weight: 900;
}
.section-heading{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat-bold" ,sans-serif;
}
p{
    color: #8f8f8f;
}

/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.colored-section{
    background-color:#ff4c68;
    color: #fff;


}

.white-section{
    background-color: #fff;

}
/* Navbar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: "ubuntu";
    
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light" ,sans-serif;
}

/* Download Buttonns */
.btn-download{
    margin: 5% 3% 5% 0;
}

/* Title section */
#title .container-fluid{
    padding: 3% 15%;
    text-align: left;
}

/* Title Image */
.image-container{
    position: relative;
}

.iphone-img{
   width: 60%;
   transform: rotate();
   position: absolute;
   right:30%;
}

/* Features Section*/
#features{
    background-color: white;
    position: relative;
}
.feature-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.feature-box{
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}


/* Testimonials Section */
#testimonials{
    background-color: #ef8172;

}
.testimonial-text{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

/* Press Section */
#press{
    background-color: #ef8172;
    padding: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
}

.pricing-text{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
.pricing-column{
    padding: 3% 2%;
    
}

/* Footer section*/
.social-icons{
    margin: 20px 10px;
    line-height: 3rem;
}

/* Media section */
@media (max-width: 1028px){

#title{
    text-align: center;
}   
  
.iphone-img{
    position: static;
    transform: rotate(0);

}

}

